<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Rectangle</a>
  <section class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Display</a>
      <li class="nav-item">
        <a class="nav-link" href="/add">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list">Delete or Edit</a>
      </li>
    </ul>
  </section>
</nav>
